.container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #1d9bf0;
  z-index: 5;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}
.windows {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
}
.windowLoggedNot {
  display: flex;
  gap: 20px;
}
.windowLogged {
  display: flex;
  gap: 10px;
}
.windowLogin {
  text-decoration: none;
  color: white;
}
.windowRegister {
  text-decoration: none;
  color: white;
}
.windowLogOut {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.bell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #e8f0f4;
  border-radius: 50%;
  cursor: pointer;
}
.bellMark {
  font-size: 20px;
  color: rgb(142, 130, 130);
}

.notificationsNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border: solid 1px rgb(255, 0, 0);
  border-radius: 50%;
}
.picture {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.notificationsContainer {
  width: 20%;
  height: 600px;
  position: relative;
  top: 100%;
  left: 80%;
  z-index: 20;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.notification {
  display: flex;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}
.notification:hover {
  background-color: rgb(223, 215, 215);
}
.notificationTop {
  width: 70%;
  margin-top: 4%;
  box-sizing: border-box;
  text-align: left;
}
.notificationPicture {
  width: 70px;
  height: 70px;
  padding: 4px;
  border-radius: 50%;
}
.notificationViewsName {
  font-weight: bold;
}
.date {
  position: absolute;
  bottom: 0;
}
