.fields {
  width: 400px;
  height: auto;
  border: solid 1px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px rgb(69, 65, 42);
  z-index: 10;
  background-color: white;
  text-align: center;
  background-image: url("../../images/backgroundPic2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.name {
  color: rgb(255, 255, 255);
}
.markButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2%;
  left: 2%;
  padding: 8px;
  color: rgb(0, 56, 153)
}
.markButton:hover {
  background-color: rgb(199, 162, 222);
  border: solid 1px rgb(199, 162, 222);
  border-radius: 100px;
}
.submitButton {
  font-family: inherit;
  font-weight: bold;
  font: inherit;
  width: 200px;
  height: 32px;
  border: solid 1px;
  border-radius: 10px;
  color: white;
  background-color: rgb(34, 100, 200);
}
.submitButton:hover {
  color: white;
  background-color: rgb(93, 130, 187);
}
.registrationButton {
  border: solid 1px;
  border-radius: 10px;
}
.registerAccount {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
}
.registerAccountButton {
  font-size: 14px;
  margin-left: 4px;
  text-decoration: none;
}
.registerAccountButton:hover {
  text-decoration: underline;
}
.errorMessage {
  margin: 10px;
  font-size: 14px;
  color: red;
}
